@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 75, 75, 75;
  margin: 0 auto;
}

/* .second-element:nth-child(1) {
  background-color: #38a169;
  color: white;
  font-weight: bold;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 75, 75, 75;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loading-image {
  animation: fade 1.2s infinite ease-in-out;
  border-radius: 8px;
}

@keyframes bannerMove {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}

.winner-text {
  white-space: nowrap; /* Prevent line breaks */
  animation: bannerMove 2s linear infinite; /* Adjust duration for speed control */
}
