@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 75, 75, 75;
  margin: 0 auto;
}

/* .second-element:nth-child(2) {
  background-color: #38a169; 
  color: white;
  font-weight: bold;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 75, 75, 75;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
